
@media screen and (max-width: 993px) {
    .card {
        display: none;
    }
}

.ddl-mobile {
    display: none;
}


@media screen and (max-width: 550px) {
 .transaction-list{
    display: none;
 }
 .ddl-mobile{
    display: block;
 }
   
}



